<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link rel="stylesheet" href="/css/product.css">




</head>

<div class="imgProduct">
    <div class="update-product-container">
        <form action="/update-product" method="POST" enctype="multipart/form-data">
            <div>
                <label>Name Products:</label>
                <input name="name" value="<%= dataProduct.name %>" />
            </div>
            <div>
                <label>Information Products </label>
                <input name="infomation" value="<%= dataProduct.infomation %>" />
            </div>
            <div>
                <label>Price Products</label>
                <input name="price" value="<%= dataProduct.price %>" />
            </div>

            <div>
                <label>IMG Products </label>
                <input type="file" name="image" id="image-input" accept="image/*" value="<%= dataProduct.image %>" />
            </div>
            <input type="hidden" value="<%= dataProduct.id %>" name="id" />
            <div class="btn-container">
                <button class="btn-save" type="submit">Save</button>
                <button type="button" class="btn-submit" onclick="goBack()">Back</button>
            </div>
        </form>
    </div>
</div>

</body>
<script>
    function goBack() {
        window.history.back();
    }
    const imageInput = document.getElementById("image-input");
    const currentImage = "<%= dataProduct.image %>"; // Giá trị ảnh hiện tại từ server

    imageInput.addEventListener("change", (event) => {
        const selectedImage = event.target.files[0];
        if (selectedImage) {
            // Người dùng đã chọn tệp ảnh mới, hiển thị tên tệp lên trường input
            imageInput.defaultValue = selectedImage.name;
        } else {
            // Người dùng không chọn tệp ảnh mới, giữ nguyên giá trị ảnh hiện tại
            imageInput.defaultValue = currentImage;
        }
    });
</script>


</html>